html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

p {
  color: #8f8f8f;
}

/* general classes */

.title-heading {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1.5;
}

.subtitle-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

/* title section */

.title-image {
  width: 60%;
}

/* features section */

#features {
  position: relative;
}

.features-cards {
  padding: 6em;
}

.features-cards > div {
  padding: 2em;
}

.features-icon {
  transition: color 0.2s ease;
}

.features-icon:hover {
  color: #ff4c68;
}

/* cta section */

#cta {
  padding: 7em 0;
  margin-top: 3em;
}

/* footer section */

#footer {
  padding: 4em 0;
}

.footer-icons a {
  padding: 0.5em;
  color: #222;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 1em 1em 0 0;
}

/* press section */

.press-img {
  width: 40%;
  padding: 1em;
}

/* bootstrap  */

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.bg-primary {
  background-color: #ff4c68 !important;
}

.bg-secondary {
  background-color: #ef8172 !important;
}

.color-primary {
  color: #ff4c68;
}

.color-secondary {
  color: #ef8172;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .title-heading {
    font-size: 3rem;
  }

  .press-img {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .title-heading {
    font-size: 3.5rem;
  }

  .title-image {
    transform: rotate(25deg);
    position: absolute;
    left: 15%;
  }
}
