html,
body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1.5;
  /* color: #fff; */
}

.title-image {
  width: 60%;
}

.title-feature {
  font-size: 1.5rem;
  font-weight: bold;
}

.description-feature {
  color: #8f8f8f;
}

.icon-feature {
  color: #ef8172;
  padding-bottom: 0.3em;
  transition: color 0.2s ease;
}

.title-landing {
  padding-bottom: 4em;
}

#features {
  background-color: #fff;
  position: relative;
}

.features-cards div:first-child {
  padding: 4em 0 2em 0;
}

.features-cards div:nth-child(2) {
  padding: 2em 0 2em 0;
}
.features-cards div:last-child {
  padding: 2em 0 4em 0;
}

.icon-feature:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  padding: 3em 0;
}

.testimonial-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 1em 1em 0 0;
}

.press {
  padding: 2em;
}

.press img {
  width: 40%;
  padding: 1em;
}

/* bootstrap  */

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

#cta {
  background-color: #ff4c68;
  padding: 7em 0;
  margin-top: 3em;
}

.cta-title {
  font-size: 2.5rem;
  font-weight: bold;
}

#footer {
  padding: 4em 0;
}

#footer p {
  font-size: 0.8rem;
  color: #8f8f8f;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.footer-icons a {
  padding: 0.5em;
  color: #222;
}

@media (min-width: 768px) {
  .testimonial-title {
    font-size: 3rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .press img {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .title-image {
    transform: rotate(25deg);
    position: absolute;
    left: 15%;
  }

  .features-cards div:first-child {
    padding: 5em 0 5em 0;
  }

  .features-cards div:nth-child(2) {
    padding: 5em 0 5em 0;
  }
  .features-cards div:last-child {
    padding: 5em 0 5em 0;
  }

  .cta-title {
    font-size: 3.5rem;
  }
}
